html {
  background-color: rgb(113, 255, 255);
  text-align: center;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;;
}

a {
  color: #ff0000;
}

thead {
  font-size: 30px;
  
  
}
table {
  
}

#details {
  display: grid;
  grid-template-columns: auto auto;
}







